<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cadastro de Produto</h5>
    <mdb-form-control>
  <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="produto.name" />
  <label mdbLabel class="form-label" for="form1">Nome</label>
</mdb-form-control>
<br>
<mdb-form-control>
  <input mdbInput type="text" id="form2" class="form-control" [(ngModel)]="produto.preco"   />
  <label mdbLabel class="form-label" for="form1">Preço</label>
</mdb-form-control>
<br>
<mdb-form-control>
  <input mdbInput type="text" id="form2" class="form-control" [(ngModel)]="produto.estoque"    />
  <label mdbLabel class="form-label" for="form1">Estoque</label>
</mdb-form-control>
<br>
<button type="button" class="btn btn-primary" mdbRipple (click)="save()">Cadastrar</button>
  </div>
</div>


        </div>
        <div class="col-lg-4"></div>


    </div>
</div>>